.headingSnabba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .left{
        display: flex;
        flex-direction: row;
        align-items: baseline;

    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        .switchMusic {
            background: none;
            border: none;
            img {
                width: 25px;
            }
        }
        .modeSwitch {
            img{
                width: 25px;
                margin: 0px 10px;
            }
        }
    }
}


main {
    .question{
        a{
            @include btnLightPurple();
            width: 80%;
            text-decoration: none;
            max-width: 300px;
            text-align: center;
        }
        .InstructionsContainer {
            display: flex;
            flex-direction: column;
            width: 80%;
            max-width: 600px;
            img{
                width: 500px;
                position: absolute;
                // top: -100px;
                top: -20px;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .questionCount {
                    margin-right: 40px;
                }
                .pointTime {
                    
                    display: flex;
                    gap: 1.5rem;
                    h2{
                        font-size: 15px;
                    }
                }
            }

            button {
                width: 80%;
                max-width: 300px;
                align-self: center;
            }
            .questions {
                border: none;
                margin: 0px;
                padding: 0px;
                margin-top: 10px;
                

                #questionContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;

                    .headlineContainer{
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                    }
                    h3 {
                        font-size: 24px;
                        margin: 0px;
                        margin-bottom: 10px;
                    }

                    label {
                        @include btnLightPurple();
                        width: 80%;
                        max-width: 300px;
                        text-align: center;
                    }
                    label.correct {
                            background: #027100;
                            box-shadow: 0px 2px 0px 3px #024201, -2px 5px 0px 2px #06a703 inset;
                    
                    }
                    label.incorrect {
                            background: #711700;
                            box-shadow: 0px 2px 0px 3px #521100, -2px 5px 0px 2px #8f2207 inset;
                    }
                    input {
                        position: fixed;
                        opacity: 0;
                        pointer-events: none;
                    }
                    

                    ul {
                        width: 100%;
                        
                        li {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            list-style: none;
                            text-align: left;
                            display: flex;
                            align-items: center;
                            padding-right: 20px;
                            flex-wrap: wrap;    
                        }
                    }
                }
            }
        }
    }
}

body.dayMode {
    main {
        .question{
            
            .InstructionsContainer {

                           .questions {
             
                    #questionContainer{
                         
                        label.correct {
                                background: #15b313;
                                box-shadow: 0px 2px 0px 3px #046103, -2px 5px 0px 2px #06a703 inset;
                        
                        }
                        label.incorrect {
                                background: #c42f0a;
                                box-shadow: 0px 2px 0px 3px #6d1702, -2px 5px 0px 2px #ff4b1e inset;
                        }

                    }
                }
            }
        }
    }
}
.fail {
    color: #fd4b1e;
}
