.headingSnabba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .left{
        display: flex;
        flex-direction: row;
        align-items: baseline;

    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        .switchMusic {
            background: none;
            border: none;
            img {
                width: 25px;
            }
        }
        .modeSwitch {
            img{
                width: 25px;
                margin: 0px 10px;
            }
        }
    }
}


main {
    .question{
        .InstructionsContainer {
            width: 80%;
            max-width: 600px;
            img{
                min-width: 300px;
                max-width: 480px;
                position: absolute;
                // top: -100px;
                top: -2%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .questionCount {
                    margin-right: 40px;
                }
                .pointTime {
                    
                    display: flex;
                    gap: 1.5rem;
                    h2{
                        font-size: 15px;
                    }
                }
            }
            .questions {
                border: none;
                margin: 0px;
                padding: 0px;
                margin-top: 10px;
                

                #questionContainer{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 1.5rem;
                    h3 {
                        font-size: 24px;
                        margin: 0px;
                        margin-bottom: 10px;
                    }

                    label {
                        @include btnLightPurple();
                        width: 80%;
                        max-width: 300px;
                        text-align: center;
                    }
                    label.correct {
                            background: #027100;
                            box-shadow: 0px 2px 0px 3px #024201, -2px 5px 0px 2px #06a703 inset;
                    }
                    label.incorrect {
                            background: #711700;
                            box-shadow: 0px 2px 0px 3px #521100, -2px 5px 0px 2px #8f2207 inset;
                    }
                    input {
                        position: fixed;
                        opacity: 0;
                        pointer-events: none;
                    }
                    a{
                        @include btnLightPurple();
                        width: 80%;
                        text-decoration: none;
                        max-width: 300px;
                        text-align: center;
                    }

                    ul {
                        li {
                            list-style: none;
                        }
                        li.false {
                            color: #fd4b1e;
                        }
                        li.correct {
                            color: #1cd318;
                        }

                    }
                }
            }
        }
    }
}
.fail {
    color: #fd4b1e;
}
