.headingSvenska {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    .left{
        display: flex;
        flex-direction: row;
        align-items: baseline;

        .time{
            margin-left: 20px;
        }

    }
    .right {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .modeSwitch {
            img{
                width: 25px;
                margin: 0px 10px;
            }
        }
    }
}

main {
    .question{
        .InstructionsContainer{
        
 
        img.symbol {
            width: 15px;
            height: 15px;
            min-width: 15px;
            position: unset;
            transform: none;
            padding-right: 10px;
        }

                    
        img.contester{
            position: unset;
            width: 200px;
            transform: none;
        }
        }
    }
}