body {
  height: 100vh;
  background-image: url("../assets/images/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-family: "Parkinsans", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body.dayMode {
  background-image: url("../assets/images/backgroundDay.svg");
  color: black;
}
body.dayMode header .modeSwitch .modeBtn {
  justify-content: flex-start;
  border: black 2px solid;
  transition: 0.2s;
}
body.dayMode header .modeSwitch .modeBtn #modeSwitch {
  background: black;
}
body.dayMode main .question .InstructionsContainer {
  background: linear-gradient(to top, rgba(255, 183, 0, 0.89), rgba(255, 248, 212, 0.493));
}

header {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
header .switchMusic {
  background: none;
  border: none;
}
header .switchMusic img {
  width: 25px;
}
header .modeSwitch {
  display: flex;
  margin: 10px 0px;
  align-items: center;
}
header .modeSwitch .modeBtn {
  width: 50px;
  display: flex;
  justify-content: flex-end;
  border: #f1f128 2px solid;
  border-radius: 50px;
  padding: 3px;
  background: transparent;
}
header .modeSwitch .modeBtn:hover {
  cursor: pointer;
}
header .modeSwitch .modeBtn #modeSwitch {
  border-radius: 400px;
  width: 20px;
  height: 20px;
  border: none;
  background: #f1f128;
}
header .modeSwitch img {
  width: 25px;
  height: 25px;
  margin: 0px 10px;
}

main {
  width: 80%;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
main .quote {
  margin-bottom: 140px;
  font-size: 20px;
}
main .question {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}
main .question .InstructionsContainer {
  width: 400px;
  background: linear-gradient(to bottom, rgba(120, 92, 247, 0.6), rgba(68, 52, 140, 0.6));
  padding: 40px;
  padding-top: 80px;
  position: relative;
  border-radius: 60px;
  margin-bottom: 40px;
}
main .question .InstructionsContainer img {
  max-width: 390px;
  position: absolute;
  top: -100px;
}
main .question .btnsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3.5rem;
  gap: 1.5rem;
}
main .question .btnsContainer button, main .question .btnsContainer a {
  width: 100%;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
  font-family: "Parkinsans", sans-serif;
  width: 300px;
  text-align: center;
}
main .question .btnsContainer button:hover, main .question .btnsContainer a:hover {
  background: #3f17fc;
  box-shadow: 0px 2px 0px 3px #260c97, -2px 5px 0px 2px #5733f8 inset;
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s;
}
main .question .btnsContainer button:active, main .question .btnsContainer a:active {
  transform: scale(1);
  transition: transform 0.5s;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
}
body.dayMode main .question .btnsContainer button, body.dayMode main .question .btnsContainer a {
  background: #ffd700; /* Example of alternate styling */
  color: #000; /* Text color for day mode */
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fdd835 inset;
}
body.dayMode main .question .btnsContainer button:hover, body.dayMode main .question .btnsContainer a:hover {
  background: #ccac00;
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fbc02d inset;
}
body.dayMode main .question .btnsContainer button:active, body.dayMode main .question .btnsContainer a:active {
  background: #ffd700;
  box-shadow: 0px 2px 0px 3px #e6be8a, -2px 5px 0px 2px #fdd835 inset;
}
main .question .btnsContainer a {
  text-decoration: none;
}

.bluBbutton {
  width: 100%;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
  font-family: "Parkinsans", sans-serif;
}
.bluBbutton:hover {
  background: #3f17fc;
  box-shadow: 0px 2px 0px 3px #260c97, -2px 5px 0px 2px #5733f8 inset;
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s;
}
.bluBbutton:active {
  transform: scale(1);
  transition: transform 0.5s;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
}
body.dayMode .bluBbutton {
  background: #ffd700; /* Example of alternate styling */
  color: #000; /* Text color for day mode */
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fdd835 inset;
}
body.dayMode .bluBbutton:hover {
  background: #ccac00;
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fbc02d inset;
}
body.dayMode .bluBbutton:active {
  background: #ffd700;
  box-shadow: 0px 2px 0px 3px #e6be8a, -2px 5px 0px 2px #fdd835 inset;
}

.headingSnabba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingSnabba .left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.headingSnabba .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headingSnabba .right .switchMusic {
  background: none;
  border: none;
}
.headingSnabba .right .switchMusic img {
  width: 25px;
}
.headingSnabba .right .modeSwitch img {
  width: 25px;
  margin: 0px 10px;
}

main .question a {
  width: 100%;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
  font-family: "Parkinsans", sans-serif;
  width: 80%;
  text-decoration: none;
  max-width: 300px;
  text-align: center;
}
main .question a:hover {
  background: #3f17fc;
  box-shadow: 0px 2px 0px 3px #260c97, -2px 5px 0px 2px #5733f8 inset;
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s;
}
main .question a:active {
  transform: scale(1);
  transition: transform 0.5s;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
}
body.dayMode main .question a {
  background: #ffd700; /* Example of alternate styling */
  color: #000; /* Text color for day mode */
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fdd835 inset;
}
body.dayMode main .question a:hover {
  background: #ccac00;
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fbc02d inset;
}
body.dayMode main .question a:active {
  background: #ffd700;
  box-shadow: 0px 2px 0px 3px #e6be8a, -2px 5px 0px 2px #fdd835 inset;
}
main .question .InstructionsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 600px;
}
main .question .InstructionsContainer img {
  min-width: 300px;
  max-width: 480px;
  position: absolute;
  top: -2%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .question .InstructionsContainer .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .question .InstructionsContainer .info .questionCount {
  margin-right: 40px;
}
main .question .InstructionsContainer .info .pointTime {
  display: flex;
  gap: 1.5rem;
}
main .question .InstructionsContainer .info .pointTime h2 {
  font-size: 15px;
}
main .question .InstructionsContainer button {
  width: 80%;
  max-width: 300px;
  align-self: center;
}
main .question .InstructionsContainer .questions {
  border: none;
  margin: 0px;
  padding: 0px;
  margin-top: 10px;
}
main .question .InstructionsContainer .questions #questionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
main .question .InstructionsContainer .questions #questionContainer .headlineContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .question .InstructionsContainer .questions #questionContainer h3 {
  font-size: 24px;
  margin: 0px;
  margin-bottom: 10px;
}
main .question .InstructionsContainer .questions #questionContainer label {
  width: 100%;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  margin: 0px;
  text-transform: uppercase;
  font-family: "Parkinsans", sans-serif;
  width: 80%;
  max-width: 300px;
  text-align: center;
}
main .question .InstructionsContainer .questions #questionContainer label:hover {
  background: #3f17fc;
  box-shadow: 0px 2px 0px 3px #260c97, -2px 5px 0px 2px #5733f8 inset;
  transform: scale(1.05);
  cursor: pointer;
  transition: transform 0.5s;
}
main .question .InstructionsContainer .questions #questionContainer label:active {
  transform: scale(1);
  transition: transform 0.5s;
  background: #6949fd;
  box-shadow: 0px 2px 0px 3px #5133d6, -2px 5px 0px 2px #7658ff inset;
}
body.dayMode main .question .InstructionsContainer .questions #questionContainer label {
  background: #ffd700; /* Example of alternate styling */
  color: #000; /* Text color for day mode */
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fdd835 inset;
}
body.dayMode main .question .InstructionsContainer .questions #questionContainer label:hover {
  background: #ccac00;
  box-shadow: 0px 2px 0px 3px #f3a033, -2px 5px 0px 2px #fbc02d inset;
}
body.dayMode main .question .InstructionsContainer .questions #questionContainer label:active {
  background: #ffd700;
  box-shadow: 0px 2px 0px 3px #e6be8a, -2px 5px 0px 2px #fdd835 inset;
}
main .question .InstructionsContainer .questions #questionContainer label.correct {
  background: #027100;
  box-shadow: 0px 2px 0px 3px #024201, -2px 5px 0px 2px #06a703 inset;
}
main .question .InstructionsContainer .questions #questionContainer label.incorrect {
  background: #711700;
  box-shadow: 0px 2px 0px 3px #521100, -2px 5px 0px 2px #8f2207 inset;
}
main .question .InstructionsContainer .questions #questionContainer input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}
main .question .InstructionsContainer .questions #questionContainer ul {
  width: 100%;
}
main .question .InstructionsContainer .questions #questionContainer ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  text-align: left;
  display: flex;
  align-items: center;
  padding-right: 20px;
  flex-wrap: wrap;
}

body.dayMode main .question .InstructionsContainer .questions #questionContainer label.correct {
  background: #15b313;
  box-shadow: 0px 2px 0px 3px #046103, -2px 5px 0px 2px #06a703 inset;
}
body.dayMode main .question .InstructionsContainer .questions #questionContainer label.incorrect {
  background: #c42f0a;
  box-shadow: 0px 2px 0px 3px #6d1702, -2px 5px 0px 2px #ff4b1e inset;
}

.fail {
  color: #fd4b1e;
}

.headingHemkunskap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingHemkunskap .left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.headingHemkunskap .left .time {
  margin-left: 20px;
}
.headingHemkunskap .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headingHemkunskap .right .switchMusic {
  background: none;
  border: none;
}
.headingHemkunskap .right .switchMusic img {
  width: 25px;
}
.headingHemkunskap .right .modeSwitch img {
  width: 25px;
  margin: 0px 10px;
}

main .question .InstructionsContainer.hemkunskap .info {
  flex-direction: column;
  height: auto;
}
main .question .InstructionsContainer.hemkunskap .info .pointTime {
  align-self: flex-start;
}
main .question .InstructionsContainer.hemkunskap .info .contester {
  min-width: 350px;
}
main .question .InstructionsContainer.hemkunskap .info .apply {
  margin-bottom: 20px;
}
main .question .InstructionsContainer.hemkunskap .choices {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
  border-bottom: white 1px solid;
}
body.dayMode main .question .InstructionsContainer.hemkunskap .choices {
  border-bottom: black 1px solid;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .dishContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 40px;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .dishContainer:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .dishContainer button {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .dishContainer button img {
  position: unset;
  max-width: 20px;
  width: 20px;
  height: 20px;
  transform: none;
  min-width: unset;
  padding-bottom: 5px;
  opacity: 30%;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .dishContainer button img:hover {
  opacity: 100%;
  cursor: pointer;
}
main .question .InstructionsContainer.hemkunskap #questionContainer ul {
  display: flex;
  flex-direction: column;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .falseCategory {
  align-self: flex-end;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .falseCategory .falseBtn {
  display: none;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .falseCategory .trueBtn {
  display: block;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .trueCategory {
  align-self: flex-start;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .trueCategory .trueBtn {
  display: none;
}
main .question .InstructionsContainer.hemkunskap #questionContainer .trueCategory .falseBtn {
  display: block;
}
main .question .InstructionsContainer.hemkunskap #questionContainer.results {
  flex-direction: row;
  align-items: flex-start;
}
main .question .InstructionsContainer.hemkunskap #questionContainer.results .falseCategory {
  align-self: flex-start;
}

main .question .InstructionsContainer.hemkunskap {
  max-width: 800px;
}
main .question .InstructionsContainer.hemkunskap #questionContainer {
  padding: 20px 0px;
}
main .question .InstructionsContainer.hemkunskap .inactive {
  pointer-events: none;
  opacity: 50%;
}

.headingSvenska {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.headingSvenska .left {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.headingSvenska .left .time {
  margin-left: 20px;
}
.headingSvenska .right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.headingSvenska .right .modeSwitch img {
  width: 25px;
  margin: 0px 10px;
}

main .question .InstructionsContainer img.symbol {
  width: 15px;
  height: 15px;
  min-width: 15px;
  position: unset;
  transform: none;
  padding-right: 10px;
}
main .question .InstructionsContainer img.contester {
  position: unset;
  width: 200px;
  transform: none;
}/*# sourceMappingURL=style.css.map */